<!DOCTYPE html>
<html>
<head>
	<?= htmlHead(); ?>
	<link rel="stylesheet" href="../stylesheets/normalize.css">
	<style>
	body {
		padding: .5em;
	}
	fieldset {
		padding-top: .5em;
	}
	body,input,select {
		font-size: x-large;
	}
	label {
		display: inline-block;
		width: 5em;
	}
	div {
		margin-bottom: 1em;
	}
	</style>
</head>
<body onload="document.getElementById('username').focus()">
	<form method="post" action="" autocapitalize="off" autocorrect="off"><fieldset>
		<legend>Login to access Tribunal Mobile</legend>
		<div style="background-color:yellow"><?= implode('<br>', $feedback) ?></div>
		<div><label for="realm">Region</label>
			<select name="realm" id="realm">
				<option value="na">North America</option>
				<option value="euw">EU West</option>
				<option value="eune">EU Nordic &amp; East</option>
			</select>
		</div>
		<div><label for="user">Username</label> <input name="username" id="username" type="text" autocorrect="off" autocapitalize="off"></div>
		<div><label for="pass">Password</label> <input name="password" id="password" type="password"></div>
		<div><input type="submit" value="Login"></div>
	</fieldset></form>
</body>
</html>
