<!DOCTYPE html>
<html>
<head>
	<?= htmlHead(); ?>
	<script src="assets/javascripts/login.js"></script>
</head>
<body class="login"><div id="viewporter">
	<form method="post" action="" autocapitalize="off" autocorrect="off"><section>
		<div class="title"><span>Login to Tribunal Mobile</span></div>
		<div style="background-color:yellow"><?= implode('<br>', $feedback) ?></div>
		<div class="input"><label for="realm">Region</label>
			<select name="realm" id="realm">
				<option value="na">North America</option>
				<option value="euw">EU West</option>
				<option value="eune">EU Nordic &amp; East</option>
			</select>
		</div>
		<div class="input"><label for="username">Username</label> <input name="username" id="username" type="text" autocorrect="off" autocapitalize="off" autofocus></div>
		<div class="input"><label for="password">Password</label> <input name="password" id="password" type="password"></div>
		<div><label></label><input type="checkbox" id="save"> <label for="save">Save password</label></div>
		<div><input type="submit" value="Login"></div>
	</section></form>
</div></body>
</html>
