<!DOCTYPE html>
<html>
<head>
	<?= htmlHead(); ?>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/mobiletrib.css">
	<script type="text/javascript" src="assets/javascripts/mobiletrib.js"></script>
</head>
<body>

<div id="title">
	<div id="game-selector">
		<span id="game-selected">Game 1</span>
		<ul id="games">
		</ul>
	</div>
	<span id="verdict">Submit Verdict</span>
	<span id="return">Return to Case <span id="caseid"></span></span>
	<h1 id="summoner-name"></h1>
</div>

<div id="loading">
	<p><img src="assets/images/spinner.gif" style="vertical-align:middle"> Loading...</p>
</div>

<div id="game">
	<div id="core-info">
		<section id="portrait">
			<img src="">
			<div id="level"></div>
		</section>
		<section id="inventory">
			<div id="inventory-container">
			</div>
		</section>
		<section id="stats">
			<div id="time-score">
				<span id="time"></span>
				<img src="assets/images/kills.png"><span id="kills"></span>
				<img src="assets/images/deaths.png"><span id="deaths"></span>
				<img src="assets/images/assists.png"><span id="assists"></span>
			</div>
			<ul>
				<li><label>Outcome:</label><span id="outcome"></span></li>
				<li><label>Type:</label><span id="game-type"></span></li>
				<li><label>Premade:</label><span id="premade"></span></li>
				<li><label>Creep Score:</label><span id="creep-score"></span></li>
				<li><label>DPS Out:</label><span id="dps-out"></span></li>
				<li><label>DPS In:</label><span id="dps-in"></span></li>
			</ul>
		</section>
	</div>
	<h1>Reports (<span class="allied"><span id="allied-report-count"></span> allied</span>, <span class="enemy"><span id="enemy-report-count"></span> enemy</span>)</h1>
	<ul id="reports">
	</ul>
	<h1>
		Chat Log
		<select id="chat-filter">
			<option selected value="">Unfiltered</option>
			<option value="only-reported">Reported</option>
			<option value="only-all">[All]</option>
			<option value="hide-enemy">Allied</option>
			<option value="hide-allied">Enemy</option>
		</select>
		<label for="champ-only">ChampOnly</label>&nbsp;<input type="checkbox" name="champ-only" id="champ-only">
	</h1>
	<ol id="chat">
	</ol>
</div>

<div id="finished">
	<p>You’ve reached your 24-hour limit of 10 cases. The limit is reset nightly at 1:00 AM PDT</p>
</div>

<div id="submit">
	<div id="timer-message">
		<p>Please review the case for at least <time>60</time> more seconds before deciding your verdict.</p>
		<p>(Time spent staring at these buttons doesn't count.)</p>
	</div>
	<img src="" id="captcha" height="45" width="175">
	<div onclick="void(0)" id="refresh-captcha" title="Refresh Captcha"></div>
	<input type="text" size="4" id="captcha-result" name="captcha-result" autocorrect="off" autocapitalize="off">
	<div onclick="void(0)" id="punish"></div>
	<div onclick="void(0)" id="pardon"></div>
	<div onclick="void(0)" id="skip"></div>
</div>


<div id="footer">
	<a href="?logout">Logout</a> | By kayson and psoplayer | <a href="javascript:disclaim()">Disclaimer</a>
</div>

</body>
</html>
