<!DOCTYPE html>
<html manifest="webapp.manifest">
<head>
	<title>Tribunal</title>
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/add2home.css">
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/mobiletrib.css">
	<script type="text/javascript">
		var addToHomeConfig = {
			returningVisitor: true,	// Don't show the prompt to first time visitors
			expire: 720	// show the prompt only once every 12 hours
		};
	</script>
	<script type="text/javascript" src="assets/javascripts/json2.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/jquery.store.patched.js"></script>
	<script type="text/javascript" src="assets/javascripts/jquery.tappable.js"></script>
	<script type="text/javascript" src="assets/javascripts/viewporter.js"></script>
	<script type="text/javascript" src="assets/javascripts/add2home.js"></script>
	<script type="text/javascript" async="true" src="assets/javascripts/mobiletrib.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/icons/favicon.ico" />
	<!-- For third-generation iPad with high-resolution Retina display: -->
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/icons/144.png">
	<!-- For iPhone with high-resolution Retina display: -->
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/icons/114.png">
	<!-- For first- and second-generation iPad: -->
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/icons/72.png">
	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon" href="assets/images/icons/57.png">
</head>
<body><div id="viewporter">

<div id="loading">
	<p><span><img src="assets/images/spinner.gif" style="vertical-align:middle"> Loading...</span></p>
</div>

<div id="login" class="login exc-by-loading" style="display:none">
<form autocapitalize="off" autocorrect="off" autocomplete="on"><section>
	<div class="title"><span>Login to Tribunal Mobile</span></div>
	<div style="background-color:yellow" id="feedback"></div>
	<div class="input"><label for="realm">Region</label>
		<select name="realm" id="realm">
			<option value="na">North America</option>
			<option value="euw">EU West</option>
			<option value="eune">EU Nordic &amp; East</option>
		</select>
	</div>
	<div class="input"><label for="username">Username</label> <input name="username" id="username" type="text" autofocus></div>
	<div class="input"><label for="password">Password</label> <input name="password" id="password" type="password"></div>
	<div><input type="submit" value="Login"></div>
</section></form>
</div>

<div id="title" class="req-by-game req-by-submit exc-by-login exc-by-finished" style="display:none">
	<div id="game-selector">
		<span id="game-selected">Game 1</span>
		<ul id="games">
			<li value="1" onclick="void(0)"><img src="assets/images/unknownplayer.png"> Game 1</li>
		</ul>
	</div>
	<div id="verdict" class="req-by-game exc-by-submit">Submit Verdict <time>in 60s</time></div>
	<div id="return" class="req-by-submit exc-by-game" style="display:inline-block;">Return to Case <span id="caseid"></span></div>
	<pre id="summoner-name"></pre>
</div>

<div id="game" class="exc-by-loading" style="display:none">
	<div id="core-info">
		<section id="character-box" class="float">
			<div id="champname" class="title"><span></span></div>
			<div id="portraitandsummoners">
				<div id="portrait">
					<img src="assets/images/blank.gif">
					<div id="level"></div>
				</div>
				<div id="summoners">
					<img src="" id="summoner1"><img src="" id="summoner2">
				</div>
			</div>
			<div id="inventory">
				<div id="inventory-container">
				</div>
			</div>
		</section>
		<section id="stats" class="float">
			<div id="time-score" class="title"><span>
				<span id="time"></span>
				<img src="assets/images/kills.png"><span id="kills"></span>
				<img src="assets/images/deaths.png"><span id="deaths"></span>
				<img src="assets/images/assists.png"><span id="assists"></span>
			</span></div>
			<ul>
				<li><label>Gold:</label><span id="gold-earned"></span></li>
				<li><label>Outcome:</label><span id="outcome"></span></li>
				<li><label>Date:</label><span id="date-played"></span></li>
				<li><label>Minion Kills:</label><span id="minion-kills"></span></li>
				<li><label>DPS Out:</label><span id="dps-out"></span></li>
				<li><label>DPS In:</label><span id="dps-in"></span></li>
			</ul>
		</section>
	</div>
	<section class="full">
		<div class="title"><span>Team</span></div>
		<table id="teammates">
			<colgroup>
				<col class="player">
				<col class="score">
				<col class="summoners">
				<col class="inventory">
				<col class="gold">
				<col class="cs">
			</colgroup>
			<thead>
				<tr>
					<th><img src="assets/images/player.png"></th>
					<th><img src="assets/images/kda.png"></th>
					<th><img src="assets/images/summoners.png"></th>
					<th><img src="assets/images/inventory.png"></th>
					<th><img src="assets/images/gold.png"></th>
					<th><img src="assets/images/minion.png"></th>
				</tr>
				<tr class="template">
					<td class="port"><img src=""> <span class="level"></span><br><span class="champname"></span></td>
					<td class="score"></td>
					<td>
						<img class="summ1" src="">
						<img class="summ2" src="">
					</td>
					<td>
						<img class="item0" src="">
						<img class="item1" src="">
						<img class="item2" src="">
						<img class="item3" src="">
						<img class="item4" src="">
						<img class="item5" src="">
					</td>
					<td class="gold"></td>
					<td class="cs"></td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</section>
	<section class="full">
		<div class="title"><span>Reports (<span class="ally"><span id="allied-report-count"></span> allied</span>, <span class="enemy"><span id="enemy-report-count"></span> enemy</span>)</span></div>
		<ul id="reports">
		</ul>
	</section>
	<section class="full">
		<div class="title"><span>
			Chat Log
			<select id="chat-filter">
				<option selected value="">Unfiltered</option>
				<option value="only-reported">Reported</option>
				<option value="only-all">[All]</option>
				<option value="hide-enemy">Allied</option>
				<option value="hide-allied">Enemy</option>
			</select>
			<label for="champ-only">Simple</label>&nbsp;<input type="checkbox" name="champ-only" id="champ-only">
		</span></div>
		<ol id="chat">
		</ol>
	</section>
</div>

<div id="finished" style="display:none">
	<p>You have done all the cases that Riot allows within a single day. The limit is reset nightly at 1:00 AM PDT</p>
</div>

<div id="submit" class="exc-by-loading" style="display:none">
	<div id="timer-message">
		<p>Please review the case for at least <time>60</time> more seconds before deciding your verdict.</p>
		<p>(Time spent staring at these buttons doesn't count.)</p>
	</div>
	<img src="assets/images/blank.gif" id="captcha" height="45" width="175">
	<div onclick="void(0)" id="refresh-captcha" title="Refresh Captcha"></div>
	<div><input type="text" size="4" id="captcha-result" name="captcha-result" autocorrect="off" autocapitalize="off" autocomplete="off"></div>
	<div onclick="void(0)" id="punish"></div>
	<div onclick="void(0)" id="pardon"></div>
	<div onclick="void(0)" id="skip"></div>
</div>


<div id="footer" class="req-by-login req-by-game req-by-submit exc-by-loading">
	<a id="logout" href="javascript:void(0)">Logout</a> | By kayson and psoplayer | <a href="javascript:disclaim()">Disclaimer</a>
	<br><a href="http://www.reddit.com/r/mobiletribunal" target="_blank">Feedback</a>
</div>

</div></body>
</html>
