@charset "UTF-8";

body {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode",
		"Luxi Sans", Tahoma, sans-serif;
	background-color: #fff7da;
}

div {
	-webkit-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

#viewporter {
	padding: .5em;
}

#title {
	position: relative;
	margin-bottom: 1em;
}

#footer {
	text-align: center;
	font-size: 60%;
	margin: 1em;
	padding-bottom: 1em;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	text-align: center;
	background-color: rgba(25,25,25,0.6);
}
#loading p {
	padding-top: 6em;
}
#loading p span {
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	padding: 1em;
	border-radius: 5px;
	color: white;
}

#finished, #recess {
	width: 100%;
	text-align: center;
}

:not(#chat) > .enemy, .enemy .author {
	color: #BC0000;
}

:not(#chat) > .ally, .ally .author {
	color: #008B00;
}

:not(#chat) > .offender, .offender .author {
	color: #9B00FE;
}

#summoner-name {
	background-color: #970c00;
	background-image: -webkit-linear-gradient(0deg, #290300, #9d0c00, #290300);
	background-image:     -ms-linear-gradient(0deg, #290300, #9d0c00, #290300);
	background-image:      -o-linear-gradient(0deg, #290300, #9d0c00, #290300);
	background-image:     linear-gradient(to right, #290300, #9d0c00, #290300);
	display: block;
	border-radius: 20px;
	box-shadow: 0 1px 5px #333;
	text-align: center;
	font-family: inherit;
	color: white;
	text-shadow: 0px -1px 0px #222;
	clear: both;
	margin: 1.0em auto 0.3em;
	padding: .3em;
	width: 80%;
	font-size: 15pt;
}

#vote-counter {
	display: block;
	text-align: center;
	color: rgb(81, 46, 8);
}

#game-selector {
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
}

#game-selected:after {
	content: " ▼";
}

#game-selected, #games li, #verdict, #return {
	border: 1px solid black;
	padding: .4em;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	display: inline-block;
	margin: 0;
}
#game-selected, #verdict, #return {
	color: white;
	line-height: 1.2em;
	background-color: #1a304d;
	background-image: -webkit-linear-gradient(-90deg, #3d699e, #1a304d, #13244b);
	background-image:     -ms-linear-gradient(-90deg, #3d699e, #1a304d, #13244b);
	background-image:      -o-linear-gradient(-90deg, #3d699e, #1a304d, #13244b);
	background-image:      linear-gradient(to bottom, #3d699e, #1a304d, #13244b);
	border-radius: 5px;
}

#games {
	display: none;
	position: absolute;
	text-align: right;
	right: 0;
	top: 2em;
	width: 7.5em;
}

#games li {
	color: black;
	background-color: #faf1d5;
	border-radius: 0;
	position: relative;
	z-index: 1;
}
#games li:not(:first-child) {
	border-top: none;
}

#games div {
	height: 48px;
	width:  48px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../images/unknownplayer.lg.png);
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	margin-right: -24px;
	margin-bottom: -24px;
}

section {
	position: relative;
	vertical-align: top;
	margin-top: 1.8em;
	background-color: #faf1d5;
	border: 1px solid #ebd4ba;
	border-radius: 3px;
	padding: 1em 0.5em 0.5em;
}

section.float {
	display: inline-block;
}

section .title {
	display: block;
	text-align: center;
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
}

section .title > span {
	background-color: #dbc07e;
	background-image: -webkit-linear-gradient(-90deg, #dbc07e, #c5a862);
	background-image:     -ms-linear-gradient(-90deg, #dbc07e, #c5a862);
	background-image:      -o-linear-gradient(-90deg, #dbc07e, #c5a862);
	background-image:      linear-gradient(to bottom, #dbc07e, #c5a862);
	border-radius: 4px;
	padding: 3px 5px;
	box-shadow: 0px 1px 2px #555;
	text-shadow: 0px 1px 1px #f4e2b4;
}

#character-box > *:not(.title) {
	display: inline-block;
	vertical-align: middle;
}

#portrait {
	position: relative;
	height: 80px;
	width: 80px;
	box-shadow: 0px 0px 3px #555;
}
#portrait-img {
	-webkit-transform: scale(1.6666667);
	-ms-transform: scale(1.6666667);
	transform: scale(1.6666667);
}

#level {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: white;
	background-color: black;
	font-size: 70%;
	border: 1px solid gold;
	text-shadow: 0px 1px 1px darkgrey;
	padding: .2em;
	border-top-left-radius: 4px;
}

#summoners div {
    margin: 4px;
    display: inline-block;
	box-shadow: 0px 0px 4px gray;
	-webkit-transform: scale(0.66666666667);
	-ms-transform: scale(0.66666666667);
	transform: scale(0.66666666667);
	/* subract 4 less for a net of 4px margin */
	margin-right: -12px;
	margin-bottom: -12px;
}

#inventory-container {
	width: 198px;
	height: 132px;
	background-image: url(../images/itemslot.png);
}

#inventory-container div {
	margin: 1px;
	float: left;
	-webkit-transform: scale(1.33333333333);
	-ms-transform: scale(1.33333333333);
	transform: scale(1.33333333333);
	/* add one more for a net of 1px margin */
	margin-right: 17px;
	margin-bottom: 17px;
}

#stats {
	max-width: 320px;
}

#stats #time-score img {
	vertical-align: middle;
}

#stats ul {
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
	text-shadow: 0px 1px 0px lightgrey;
	min-height: 3.9em;
}

#stats ul li {
	display: inline-block;
	width: 100%;
}

#stats ul label {
	display: inline-block;
	width: auto;
}

#stats ul span {
	float: right;
}

#teammates {
	width: 100%;
	border-collapse: collapse;
	line-height: 16px;
}

#teammates .template {
	display: none;
}

#teammates td div {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	margin-right: -24px;
	margin-bottom: -24px;
	display: block;
	float: left;
}

#teammates td.port {
	text-align: left;
	min-width: 65px;
}

#teammates td.port div {
	-webkit-transform: scale(0.666666667);
	-ms-transform: scale(0.666666667);
	transform: scale(0.666666667);
	margin-right: -13px;
	margin-bottom: -16px;
}

#teammates th, #teammates td {
	text-align: center;
}

#teammates td {
	padding: 3px;
}

#teammates col.summoners {
	width: 30px;
}

#teammates col.inventory {
	width: 78px;
	min-width: 48px;
}

#teammates th:first-child {
	text-align: left;
	padding-left: 3px;
}

#teammates col.gold, #teammates col.cs {
	text-align: right;
}

#reports li:not(:last-child) {
	margin-bottom: .6em;
}

#reports h2 {
	font-weight: bold;
	font-size: 110%;
}

#chat, #reports {
	word-wrap: break-word;
	overflow-wrap: break-word;
	width: auto;
	overflow: hidden;
}

#chat .all .author:after {
	content: " [All]";
}

#chat time {
	color: gray;
	font-size: 90%;
}
#chat time:before { content: " ["; }
#chat time:after  { content: "]"; }

#chat.hide-enemy  li.enemy,
#chat.hide-allied li.ally,
#chat.only-all    li:not(.all),
#chat.only-reported li:not(.offender)
{ display: none; }

/*
Styles for submit screen
*/

#timer-message p {
	margin: 1em;
}

#captcha {
	display: none;
	width: 220px;
	height: auto;
}
#refresh-captcha {
	display: none;
	vertical-align: top;
	background-image: url(../images/refreshcap.png);
	background-position-y: 0px;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 33px;
	width: 35px;
}
#refresh-captcha:hover {
	background-position-y: -33px;
}

#captcha-result {
	display: none;
	width: 255px;
	font-size: xx-large;
	vertical-align: top;
}

#submit {
	text-align: center;
}
#punish,#pardon,#skip {
	width: 267px;
	height: 54px;
	cursor: pointer;
	margin: 1em 1em .5em;
	display: inline-block;
	background-color: grey;
	border-radius: 9px;
	box-shadow: 0px 3px 5px #444;
}
#punish:hover,#pardon:hover,#skip:hover {
	background-position: 0 -54px;
}
#punish[disabled],#pardon[disabled] {
	cursor: auto;
	background-position: 0 -108px !important;
}
#punish {
	background-image: url(../images/punishbutton.png);
}
#pardon {
	background-image: url(../images/pardonbutton.png);
}
#skip {
	background-image: url(../images/skipbutton.png);
}

/*
Styles for login form
*/

.login, .login input, .login select {
	font-size: 17pt;
}

.login div.input > * {
	width: 250px;
}

.login label:first-child {
	display: block;
}

.login section {
	margin-top: 1em;
	margin-bottom: 1em;
}

.login section > div {
	margin-bottom: 0.7em;
}

.login input[type=checkbox] {
	vertical-align: middle;
}

/*
Initial styles
*/
#submit, #game, #return, #finished {
	display: none;
}

/* specific screen size styles
iphone portrait  320x480
iphone4          640x960
ipad            1024x768
andrid          1280x720 */
@media screen and (max-width: 479px) {
#teammates .champname {
	display: none;
}
#teammates td.port div {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: -18px;
}
}

@media screen and (min-width: 680px) {
#teammates .summ1, #teammates .summ2 {
	-webkit-transform: scale(0.6666667);
	-ms-transform: scale(0.6666667);
	transform: scale(0.6666667);
	margin-right: -16px;
	margin-bottom: -16px;
}
#teammates col.summoners {
	width: 80px;
}
}

@media screen and (min-width: 800px) {
#teammates .item0, #teammates .item1, #teammates .item2, #teammates .item3, #teammates .item4, #teammates .item5 {
	-webkit-transform: scale(0.6666666667);
	-ms-transform: scale(0.6666666667);
	transform: scale(0.6666666667);
	margin-bottom: -16px;
	margin-right: -16px;
}
#teammates col.inventory {
	width: 198px;
}
}
