@charset "UTF-8";

body {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode",
		"Luxi Sans", Tahoma, sans-serif;
	padding: .5em;
	background-color: #fff7da;
}

#title {
	position: relative;
	margin-bottom: 1em;
}

#footer {
	text-align: center;
	font-size: 60%;
	margin: 1em;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	background-color: rgba(25,25,25,0.6);
}
#loading p {
	padding-top: 6em;
}
#loading p span {
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	padding: 1em;
	border-radius: 5px;
	color: white;
}

#finished {
	width: 100%;
	text-align: center;
}

:not(#chat) > .enemy, .enemy .author {
	color: #BC0000;
}

:not(#chat) > .allied, .allied .author {
	color: #008B00;
}

:not(#chat) > .reported, .reported .author {
	color: #9B00FE;
}

#summoner-name {
	background-color: #970c00;
	background-image: -webkit-linear-gradient(0deg, #290300, #9d0c00, #290300);
	background-image:    -moz-linear-gradient(0deg, #290300, #9d0c00, #290300);
	background-image:     -ms-linear-gradient(0deg, #290300, #9d0c00, #290300);
	background-image:      -o-linear-gradient(0deg, #290300, #9d0c00, #290300);
	display: block;
	border-radius: 20px;
	box-shadow: 0 1px 5px #333;
	text-align: center;
	font-family: inherit;
	color: white;
	text-shadow: 0px -1px 0px #222;
	clear: both;
	margin: 1.0em auto 0.3em;
	padding: .3em;
	width: 80%;
	font-size: 15pt;
}

#game-selector {
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
}

#game-selected:after {
	content: " ▼";
}

#game-selected, #games li, #verdict, #return {
	border: 1px solid black;
	padding: .4em;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	display: inline-block;
	margin: 0;
}
#game-selected, #verdict, #return {
	color: white;
	background-color: #1a304d;
	background-image: -webkit-linear-gradient(-90deg, #3d699e, #1a304d, #13244b);
	background-image:    -moz-linear-gradient(-90deg, #3d699e, #1a304d, #13244b);
	background-image:     -ms-linear-gradient(-90deg, #3d699e, #1a304d, #13244b);
	background-image:      -o-linear-gradient(-90deg, #3d699e, #1a304d, #13244b);
	border-radius: 5px;
}

#games {
	display: none;
	position: absolute;
	right: 0;
	top: 1.6em;
	width: 6em;
}

#games li {
	color: black;
	background-color: #faf1d5;
	border-radius: 0;
	position: relative;
	z-index: 1;
}
#games li:not(:first-child) {
	border-top: none;
}

section {
	position: relative;
	vertical-align: top;
	margin-top: 1.8em;
	background-color: #faf1d5;
	border: 1px solid #ebd4ba;
	border-radius: 3px;
	padding: 1em 0.5em 0.5em;
}

section.float {
	display: inline-block;
}

section .title {
	display: block;
	text-align: center;
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
}

section .title > span {
	background-color: #dbc07e;
	background-image: -webkit-linear-gradient(-90deg, #dbc07e, #c5a862);
	background-image:    -moz-linear-gradient(-90deg, #dbc07e, #c5a862);
	background-image:     -ms-linear-gradient(-90deg, #dbc07e, #c5a862);
	background-image:      -o-linear-gradient(-90deg, #dbc07e, #c5a862);
	border-radius: 4px;
	padding: 3px 5px;
	box-shadow: 0px 1px 2px #555;
	text-shadow: 0px 1px 1px #f4e2b4;
}

#character-box > *:not(.title) {
	display: inline-block;
	vertical-align: middle;
}

#portrait {
	position: relative;
	height: 80px;
	width: 80px;
	box-shadow: 0px 0px 3px #555;
}
#portrait, #portrait img {
	border-radius: 5px;
}

#level {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: white;
	background-color: black;
	font-size: 70%;
	border: 1px solid gold;
	text-shadow: 0px 1px 1px darkgrey;
	padding: .2em;
	border-top-left-radius: 4px;
}

#inventory-container {
	background-color: gray;
	width: 198px;
	height: 132px;
	background-image: url(../images/itemslot.png);
}

#inventory-container img {
	height: 64px;
	width: 64px;
	margin: 1px;
	float: left;
}

#stats {
	max-width: 320px;
}

#stats #time-score img {
	vertical-align: middle;
}

#stats ul {
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
	text-shadow: 0px 1px 0px lightgrey;
	height: 2.8em;
}

#stats ul li {
	display: inline-block;
	width: 100%;
}

#stats ul label {
	display: inline-block;
	width: auto;
}

#stats ul span {
	float: right;
}

#reports li:not(:last-child) {
	margin-bottom: .6em;
}

#reports h2 {
	font-weight: bold;
	font-size: 110%;
}

/* the idea was that the enemy reports and allied reports
would be in separate columns on an ipad or other wide device
but it still needs some attention to actually get working */
@media width > 600px {
#reports {
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
}
}

#chat, #reports {
	word-wrap: break-word;
}

#chat input#champ-only {
	height: 1em;
	width: 1em;
}

#chat .all .author:after {
	content: " [All]";
}

#chat time {
	color: gray;
	font-size: 90%;
}
#chat time:before { content: " ["; }
#chat time:after  { content: "]"; }

#chat:not(.champ-only) .character:before { content: " ("; }
#chat:not(.champ-only) .character:after  { content: ")"; }

#chat.hide-enemy  li.enemy,
#chat.hide-allied li.allied,
#chat.only-all    li:not(.all),
#chat.only-reported li:not(.reported)
{ display: none; }

#chat.champ-only .summoner,
#chat.champ-only time
{ display: none; }

/*
Styles for submit screen
*/

#timer-message p {
	margin: 1em;
}

#captcha {
	width: 220px;
	height: auto;
}
#refresh-captcha {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/refreshcap.png);
	background-position-y: 0px;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 33px;
	width: 35px;
}
#refresh-captcha:hover {
	background-position-y: -33px;
}

#captcha-result {
	width: 255px;
	font-size: xx-large;
	vertical-align: top;
}

#submit {
	text-align: center;
}
#punish,#pardon,#skip {
	width: 267px;
	height: 54px;
	cursor: pointer;
	margin: 1em 1em .5em;
	display: inline-block;
	background-color: grey;
	border-radius: 9px;
	box-shadow: 0px 3px 5px #444;
}
#punish:hover,#pardon:hover,#skip:hover {
	background-position-y: -54px;
}
#punish[disabled],#pardon[disabled] {
	cursor: auto;
	background-position-y: -108px !important;
}
#punish {
	background-image: url(../images/punishbutton.png);
}
#pardon {
	background-image: url(../images/pardonbutton.png);
}
#skip {
	background-image: url(../images/skipbutton.png);
}

/*
Styles for login form
*/

body.login, .login input, .login select {
	font-size: 17pt;
}

.login div.input > * {
	width: 250px;
}

.login label:first-child {
	display: block;
}

.login section {
	margin-top: 1em;
}

.login section > div {
	margin-bottom: 0.7em;
}

.login input[type=checkbox] {
	vertical-align: middle;
}

/*
Initial styles
*/
#submit, #game, #return, #finished {
	display: none;
}
