@charset "UTF-8";

body {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode",
		"Luxi Sans", Tahoma, sans-serif;
	padding: .5em;
}

#title {
	position: relative;
	margin-top: .5em;
}

#footer {
	width: 100%;
	text-align: center;
	font-size: 60%;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 6em;
	background-color: rgba(25,25,25,0.6);
}

#finished {
	width: 100%;
	text-align: center;
}

#submit, #game, #return, #finished {
	display: none;
}

:not(#chat) > .enemy, .enemy .author {
	color: #BC0000;
}

:not(#chat) > .allied, .allied .author {
	color: #008B00;
}

:not(#chat) > .reported, .reported .author {
	color: #9B00FE;
}

h1 {
	text-align: center;
	clear: both;
	margin: .6em;
}

#game-selector {
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
}

#game-selected:after {
	content: " ▼";
}

#game-selected, #games li, #verdict, #return {
	color: white;
	border: 1px solid black;
	background: blue;
	padding: .4em;
	border-radius: 5px;
	cursor: default;
}

#games {
	display: none;
	position: absolute;
	right: 0;
	top: 1.6em;
	width: 6em;
}

#games li {
	color: black;
	background-color: white;
	border-radius: 0;
}

section {
	display: inline-block;
	vertical-align: top;
	margin-bottom: .6em;
	margin-right: .5em;
}

#portrait {
	position: relative;
	float: left;
	height: 80px;
	width: 80px;
}

#level {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: white;
	background-color: black;
	font-size: 70%;
	border: 1px solid gold;
	padding: .2em;
	border-top-left-radius: 4px;
}

#inventory-container {
	background-color: gray;
	width: 198px;
	height: 132px;
}

#inventory-container img {
	height: 64px;
	width: 64px;
	margin: 1px;
	float: left;
}

#stats {
	width: 300px;
}

#stats #time-score {
	text-align: center;
}

#stats #time-score img {
	vertical-align: middle;
}

#stats ul {
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
}

#stats ul li {
	display: inline-block;
	width: 100%;
}

#stats ul label {
	display: inline-block;
	width: 105px;
}

#stats ul span {
	float: right;
}

#reports li:not(:last-child) {
	margin-bottom: .6em;
}

#reports h2 {
	font-weight: bold;
	font-size: 110%;
}

/* the idea was that the enemy reports and allied reports
would be in separate columns on an ipad or other wide device
but it still needs some attention to actually get working */
@media width > 600px {
#reports {
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
}
}

#chat, #reports {
	word-wrap: break-word;
}

#chat input#champ-only {
	height: 1em;
	width: 1em;
}

#chat .all .author:after {
	content: " [All]";
}

#chat time {
	color: gray;
	font-size: 90%;
}
#chat time:before { content: " ["; }
#chat time:after  { content: "]"; }

#chat:not(.champ-only) .character:before { content: " ("; }
#chat:not(.champ-only) .character:after  { content: ")"; }

#chat.hide-enemy  li.enemy,
#chat.hide-allied li.allied,
#chat.only-all    li:not(.all),
#chat.only-reported li:not(.reported)
{ display: none; }

#chat.champ-only .summoner,
#chat.champ-only time
{ display: none; }

#captcha {
	width: 220px;
	height: auto;
}
#refresh-captcha {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/refreshcap.png);
	background-position-y: 0px;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 33px;
	width: 35px;
}
#refresh-captcha:hover {
	background-position-y: -33px;
}

#captcha-result {
	width: 255px;
	font-size: xx-large;
	vertical-align: top;
}

#submit {
	text-align: center;
}
#punish,#pardon,#skip {
	width: 267px;
	height: 54px;
	cursor: pointer;
	margin: 1.5em 1em 0;
	display: inline-block;
}
#punish:hover,#pardon:hover,#skip:hover {
	background-position-y: -54px;
}
#punish[disabled],#pardon[disabled] {
	cursor: auto;
	background-position-y: -108px !important;
}
#punish {
	background-image: url(../images/punishbutton.png);
}
#pardon {
	background-image: url(../images/pardonbutton.png);
}
#skip {
	background-image: url(../images/skipbutton.png);
}
